@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

$font-primary: Arial, sans-serif;

$color-primary: #fdfc18;
$color-secoundary: #111111;

$nav-height: 100px;
